body{
	margin: 0;
	font-family: helvetica,arial,san script;
	line-height: 20px
}

header{
	background-color: #C0392B;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px
}
 h1,h2{
 	font-family: 'Big Shoulders Inline Text',cursive;
 }
header h1{
	color: #F39C12;
	font-size: 45px
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px solid #F39C12
}

main{
	max-width: 850px;
	margin: 0 auto;
	padding: 0 20px 20px 100px
}


main img{
	max-width: 900px
	max-height: 400px;
}



li a:hover{
	background-color: #A93226;
    color: white;
}

    



footer{
	background-color: #A93226 ;
	text-align: center;
	padding: 0px
}
footer img{
	max-width: 1